body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.header {
  background-color: #021f59;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}
.logo {
  width: 100px;
}
.btn {
  background-color: #66bcf2;
  color: black;
  border: none;
  height: 40px;
  padding: 8px 16px;
  border-radius: 16px;
  font-size: medium;
}
.header-links a {
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}
.header a:hover {
  background: #3d90d9;
  border-radius: 16px;
}
.btn:hover {
  background-color: #3d90d9;
}
.landing-page {
  background-color: #021f59;
  display: flex;
  justify-content: space-between;
  padding: 25px 50px;
  align-items: center;
  color: white;
  border-radius: 0 0 50px 50px;
}
.landing-page-left p {
  padding-bottom: 10px;
}
.landing-page-search input {
  border-radius: 16px;
  border: none;
  outline: none;
  height: 40px;
  padding: 0px 10px;
}
.landing-page-image img {
  border-radius: 16px;
  width: 400px;
}
.landing-page-left {
  width: 450px;
}
.trending-container {
  padding: 25px 50px;
}
.trending-container span {
  color: #37adf7;
  text-transform: uppercase;
  font-size: 12px;
}
.trending-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.trending-header h1 {
  margin-top: 0;
}
.trending-cards{
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}
.card{
  width: 300px;
  background-color: #eeeeee;
  border-radius: 16px;
}
.card .thumbnail{
  border-radius: 16px 16px 0 0;
}
.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
}
.shopping-icon {
  width: 50px;
}

/* Footer began */

.footer-container{
  margin-top: 100px;
  background-color: #021f59;
  height: 200px;
  border-radius: 64px 64px 0 0;
  display: flex;
  justify-content: center;
}
.footer{
  text-align: center;
  margin: auto;
  max-width: 1300px;
  color: white;
  font-weight: 500;
  font-size: larger;
}

/* End of footer  */

/* Form Section */

.form-container{
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 40px;
  max-width: 1300px;
}
.form-container form{
  background-color: #EEEEEE;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 400px;
  max-width: 400px;
  padding: 20px;
  height: 450px;
  border-radius: 20px;
}
.form-container input, textarea{
  border: 0;
  outline: none;
  font-size: large;
  padding: 16px;
  border-radius: 20px;
}
.form-container textarea{
  resize: none;
}
.contactbtn{
  background-color: #66bcf2;
  color: black;
  border: none;
  height: 50px;
  padding: 8px 16px;
  border-radius: 16px;
  font-size: large;
}